name: Credit Risk System CI
on: [push] # Se activa cada vez que se sube algo a Git

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Lint check
        run: |
          # Solo verifica que el archivo principal no tenga errores de sintaxis
          python -m py_compile app.py